h1{
	text-align: center;
}

.board{
	margin: 30px;
	margin-left: 380px;
}

.span1 {
	text-align: center;
	margin: 0px;
	padding: 30px;
	font-size: 20px;
}

#cell02, #cell12, #cell01, #cell11 {
	border-bottom: 1px solid;
	border-right: 1px solid;
}

#cell22, #cell21 {
	border-bottom: 1px solid;
}

#cell00, #cell10 {
	border-right: 1px solid;
}

