h1{
	text-align: center;
}

.board{
	margin: 30px;
	margin-left: 380px;
}

.span1 {
	text-align: center;
/*	border-bottom: 1px solid;*/
	margin: 0px;
	padding: 30px;
}

#cell1, #cell2, #cell4, #cell5 {
	border-bottom: 1px solid;
	border-right: 1px solid;
}

#cell3, #cell6 {
	border-bottom: 1px solid;
}

#cell7, #cell8 {
	border-right: 1px solid;
}

